<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hello" class="com.example.springcore.springaop.Hello" />

    <bean id="demoBeforeAdvice" class="com.example.springcore.springaop.DemoBeforeAdvice"/>
    <bean id="demoAfterAdvice" class="com.example.springcore.springaop.DemoAfterAdvice"/>
    <bean id="demoThrowAdvice" class="com.example.springcore.springaop.DemoThrowAdvice"/>
    <bean id="demoAroundAdvice" class="com.example.springcore.springaop.DemoAroundAdvice"/>

    <bean id="helloProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="hello"/>
        <property name="interceptorNames">
            <list>
                <value>demoBeforeAdvice</value>
                <value>demoAfterAdvice</value>
                <value>demoThrowAdvice</value>
                <value>demoAroundAdvice</value>
            </list>
        </property>
    </bean>



<!--    inject by constructor-->
    <bean id="person" class="com.example.springcore.deoendencyinjectioncollection.Person">
        <constructor-arg name="name" type="java.lang.String" value="spring"/>
        <constructor-arg name="age" type="int" value="30"/>
        <constructor-arg name="addresses">
            <list>
                <ref bean="address1"/>
                <ref bean="address2"/>
            </list>
        </constructor-arg>
        <constructor-arg name="emails">
            <list>
                <value>abc@gmail.com</value>
                <value>def@gmail.com</value>
            </list>
        </constructor-arg>
    </bean>

<!--    inject by setter-->

    <bean id="person2" class="com.example.springcore.deoendencyinjectioncollection.Person">
        <property name="name" value="stackjava.com"/>
        <property name="age" value="25"/>
        <property name="addresses">
            <list>
                <ref bean="address2"/>
            </list>
        </property>
        <property name="emails">
            <list>
                <value>ghi@hotmail.com</value>
                <value>klm@zzz.com</value>
            </list>
        </property>
    </bean>

    <bean id="address1" class="com.example.springcore.deoendencyinjectioncollection.Address">
        <property name="country" value="Viet Nam"/>
        <property name="province" value="Can Tho"/>
        <property name="district" value="Ninh Kieu"/>
    </bean>

    <bean id="address2" class="com.example.springcore.deoendencyinjectioncollection.Address">
        <property name="country" value="Viet Nam"/>
        <property name="province" value="Ca Mau"/>
        <property name="district" value="Thoi Binh"/>
    </bean>

</beans>